@import "../../node_modules/rfs/scss";

body {
  max-width: 100%;
  overflow-x: hidden;
  background: #E5EAEF;

  .display-1 {
    color: #032340;
    @include font-size(6rem);
    @include margin-top(4rem);
    @include margin-bottom(2rem);
  }

  .jumbotron {
    background: #203647;
    margin: 0;
    @include margin-bottom(2rem);
    
    .form-label {
      color: #E5EAEF;
    }
  }

  .cardContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    .card {
      margin-top: 10px;
      margin-bottom: 10px;
      box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
      transition: box-shadow 0.5s;
      will-change: transform;
      border: 15px solid white;

      &:hover {
        box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
      }
    }
  }
}