@import "../../node_modules/rfs/scss";

body {
  max-width: 100%;
  overflow-x: hidden;
  background: #E5EAEF;

  .display-1 {
    color: #032340;
    @include font-size(6rem);
    @include margin-top(4rem);
    @include margin-bottom(2rem);
  }

  .jumbotron {
    background: #203647;
    margin: 0;
    
    .form-label {
      color: #E5EAEF;
    }
  }

  .card {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}